.hamburgerMenu {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }
  
  .hamburgerButton {
    background: none;
    border: none;
    color: #848383;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .menuOverlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    padding: 1rem;
    display: flex;
    justify-content: center;
    z-index: 999;
  }
  
  .nav {
    width: 100%;
  }
  
  .navList {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  
  .navItem {
    flex: 1;
    text-align: center;
  }
  
  .navLink {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #848383;
    transition: color 0.3s ease;
    padding: 0.5rem;
  }
  
  .navLink:hover,
  .navLink.active {
    color: #0070f3;
  }
  