.home {
  text-align: center;
  color: #ffffff;
}

.avatar {
  display: none;
}

.quoteIconLeft {
  font-size: 4rem;
  color: #444343;
  text-align: left;
  margin-left: -70%;
  margin-bottom: 1rem;
}

.quoteIconRight {
  font-size: 4rem;
  color: #444343;
  text-align: right;
  margin-right: -70%;
}

.motivationalStatement {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  min-height: 3.5rem;
  position: relative;
  color: #848383;
  padding-left: 30px;
  padding-right: 30px;
}

.cursor {
  display: inline-block;
  width: 3px;
  height: 1.2em;
  background-color: #848383;
  margin-left: 2px;
  animation: blink 0.7s infinite;
  position: relative;
  top: 2px;
}


@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .motivationalStatement {
    font-size: 1.2rem;
    bottom: -8rem;
  }

  .quoteIconLeft,
  .quoteIconRight {
    font-size: 2rem;
    display: none;
  }

  .avatar {
    display: block;
    width: 3rem;
    height: 3rem;
    background-image: url('../Images/avatar.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    top: 2rem;
    left: 45%;
  }

  .profPic{
    display: block;
    width: 60%;
    height: 30%;
    background-image: url('..//Images/Profile.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    top: 10rem;
    left: 20%;
  }
}