.home {
  text-align: center;
  color: #ffffff;
}

.quoteIconLeft{
  font-size: 4rem;
  color: #444343;
  text-align: left;
  margin-left: -80%;
  margin-bottom: 1rem;
}

.quoteIconRight{
  font-size: 4rem;
  color: #444343;
  text-align: right;
  margin-right: -80%;
}

.motivationalStatement {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #444343;
}

.name {
  font-size: 2rem;
}

.introduction {
  font-size: 1.2rem;
}

.alias {
  font-style: italic;
  color: #0070f3;
}