.home {
  text-align: center;
  color: #ffffff;
}

.quoteIconLeft{
  font-size: 4rem;
  color: #444343;
  text-align: left;
  margin-left: -70%;
  margin-bottom: 1rem;
}

.quoteIconRight{
  font-size: 4rem;
  color: #444343;
  text-align: right;
  margin-right: -70%;
}

.motivationalStatement {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  min-height: 3.5rem; /* Prevents layout shift as text is typed */
  position: relative;
  color: #848383;
  padding-left: 30px;
  padding-right: 30px;
}

.cursor {
  display: inline-block;
  width: 3px;
  height: 1.2em;
  background-color: #848383;
  margin-left: 2px;
  animation: blink 0.7s infinite;
  position: relative;
  top: 2px;
}


@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}