.links {
  color: #ffffff;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.links h2 {
  font-size: 2rem;
  line-height: 1.6;
  white-space: pre-wrap;
  color: #848383;
  margin-bottom: 10px;
}

.socialLinks {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.icon {
  font-size: 2rem;
  margin: 0 1rem;
  color: #848383;
  opacity: 0;
  animation: fallIn 0.5s ease forwards;
  transition: color 1s ease;
}

.icon:hover {
  color: #0070f3;
}

@keyframes fallIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.peers h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
  min-height: 2.4rem;
  position: relative;
  margin-top: 5rem;
  ;
}

.cursor {
  display: inline-block;
  width: 3px;
  height: 1.2em;
  background-color: #848383;
  margin-left: 2px;
  animation: blink 0.7s infinite;
  position: relative;
  top: 2px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.peerLinks {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.peerLinks a {
  color: #848383;
  margin: 1rem;
  text-decoration: none;
  font-weight: normal;
  transform: scale(1);
  transition: color 1s ease;
}

.peerLinks a:hover {
  color: #0070f3;
  font-weight: bold;
}

@media (max-width: 768px) {
  .peerLinks{
    margin-bottom: 6rem;
  }
}