.nav {
  width: 100%;
  top: 0;
}

.navList {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.navItem {
  flex: 1;
  text-align: center;
}

.navLink {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #848383;
  transition: color 0.3s ease;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navLink:hover,
.navLink.active {
  color: #0070f3;
  font-weight: bold;
}

.navIcon {
  font-size: 1rem;
  border: 2px solid #040D12;
  padding: 1rem;
  border-radius: 50%;
  color: #314a58;
  box-shadow: 0 -5px 4px rgba(0, 0, 0, 0.3);
}

.navText {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

@media (max-width: 767px) {
  .nav {
    bottom: 0;
    top: auto;
    position: fixed;
    z-index: 10000;
    background-color: #040D12;
    box-shadow: 0 -5px 4px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
  }

  .navText {
    display: none;
  }

  .navIcon:hover {
    color: #0070f3;
  }

}

@media (min-width: 768px) {
  .navIcon {
    display: none;
  }
}