.works {
  color: #ffffff;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.works h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #848383;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.card {
  width: 80%;
  max-width: 300px;
  min-width: 200px;
  margin: 0 10px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
  position: relative;
  opacity: 0.5;
}

.activeCard {
  transform: scale(1.05);
  opacity: 1;
}

.cardImage {
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.cardContent {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
}

.cardContent h3 {
  margin: 0;
  font-size: 1.2rem;
}

.cardContent p {
  margin: 5px 0 0;
  font-size: 0.9rem;
}