.works {
  color: #848383;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.works h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #848383;
}

.slideshowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card {
  width: 80%;
  max-width: 50vh;
  margin: 0 20px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
  position: relative;
  opacity: 1;
}

.cardImage {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.cardContent {
  background: #040D12;
  color: #848383;
  width: 100%;
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
}

.cardContent:hover {
  background: rgba(0, 0, 0, 0.9);
  ;
  border-radius: 20px;
}

.cardContent h3 {
  margin: 0;
  font-size: 1.2rem;
  text-decoration: none;
}

.cardContent p {
  margin: 5px 0 0;
  font-size: 0.9rem;
  text-decoration: none;
}

.card a {
  text-decoration: none;
  color: inherit;
}

.navButton {
  background: none;
  border: none;
  color: #848383;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s ease;
}

.navButton:hover {
  color: #ffffff;
}

/* Responsive adjustments for small screens */
@media (max-width: 768px) {
  .works {
    padding: 10px;
    max-width: 100%;
    margin-bottom: 6rem;
  }

  .card {
    width: 100%;
    margin: 10px 0;
  }

  .cardImage {
    height: 300px;
  }

  .cardContent {
    padding: 15px;
  }
}

@media (max-width: 600px) {

  .cardContent h3 {
    font-size: 1rem;
  }

  .cardContent p {
    font-size: 0.8rem;
  }
}